/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-05-07, 11:51:44
    Author     : Isabelle
*/
td{
    border: 1px #634600;
}

table{
    text-align: center;
    position: relative;
}

.b_submit {
	background-color:#BCAB8E;
	border:1px solid #634600;
	display:inline-block;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
        padding: auto;
	width:15%;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #45340C;
        cursor: pointer;
}

.b_submit:hover {
	background-color: #86786B; 
}

.b_submit:active {
	position:relative;
        top:2px;
}

.entete_catalogue
{
    background-color: #BFB19B;
    width: 50%;
    // float:left;
    left: -15%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    position: relative;
}

.entete_generale {
    background-color: #BFB19B;
    width: 80%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative
}

body {
    margin: auto;
    width: 100%;
    background-color: #D8CBB3;
    text-align: center;
}