/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-05-07, 11:51:44
    Author     : Isabelle
*/


.b_submit {
	background-color:#BCAB8E;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	border:1px solid #634600;
	display:inline-block;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:14px;
	font-weight:bold;
	font-style:normal;
	height:22px;
	line-height:20px;
	width:110px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #45340C;
        cursor: pointer;
}

.b_submit:hover {
	background-color: #86786B; 
}

.b_submit:active {
	position:relative;
        top:2px;
}

body {
    margin: auto;
    width: 60%;
    height: 100%;
    background-color: #D8CBB3;
    text-align: center;
}

head {
    text-align: center;
}