
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-05-07, 11:51:44
    Author     : Isabelle
*/
td{
    border: 1px #634600;
}

#zeInscritpion{
    border: 5px #000000 solid;
    width: 60%;
    margin: auto;
    height:100%;
}
#zeTitreTabInscription{
    width: 10%;
    float: left;
    border: 2px #000000 solid;
    font-weight: bold;
    font-style: oblique;
}
#zeTitreTabInscriptionFiller{
    width: 90%;
    
}

.inscriptionLabelRow{
    font-size: 18px;
    font-style: italic;
}

#zePresentationRowInscritpion{
    height: 5%;
}
#mainInscriptionDiv{
    margin: auto;
    text-align: center;
    width: 80%;
    height: 80%;
}

table{
    text-align: center;
    position: relative;
}
#listePanier{
    width: 85%;
    float:left;
}
#menuPanier{
    width: 15%;
    float: right;
}
.b_submit {
	background-color:#BCAB8E;
	border:1px solid #634600;
	display:inline-block;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
        padding: auto;
	//width: 15%
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #45340C;
        cursor: pointer;
}

.b_submit:hover {
	background-color: #86786B; 
}

.b_submit:active {
	position:relative;
        top:2px;
}

.zeCatalogueDiv{
    font-size:20px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    background: #666666;
}

.zeCatable{
    font-size:18px;
    border-collapse: separate;
    margin: auto;
    margin-top: 10px;
    text-align: left;
    border: 5px #594E30 solid;
    width: 80%;
}
.entete_catalogue
{
    background-color: #BFB19B;
    width: 80%;
    // float:left;
//    left: -15%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    position: relative;
    border-radius: 1px;
}
///barre menu
.entete_generale {
    background-color: #BFB19B;
    width: 80%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
    font-size:18px;
    text-align: center;
}

/////logo, login et inscription = 3 div de barre menu visiteur
#logo{
    width: 15%;
    float: left;
}

#login{
    width: 50%;
    display: inline-block;
}

#inscription{
    width: 15%;
    float: right;
}

body {
    margin: auto;
    width: 100%;
    background-color: #D8CBB3;
    text-align: center;
    font-size: 18px;
    font-style: italic;
}

.zeCatalogueRow{

}

.zeCatalogueCell{
    border-top: 2px #000000 solid;
    border-left: 2px #000000 solid;
    padding: 0.5%;
    margin-left: 3%;
    border-radius: 1px;
}

.zeCatEntete{
    font-size: 25px;
    font-style: oblique;
    background-color: #8A7D70;
}